# Dataset Joining

In [1]:
import pandas as pd
%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_columns', None)

## Load The Files

In [2]:
Tourism = pd.read_pickle('../data/processed/Tourism.pickle')
Inequality_WIID = pd.read_pickle('../data/processed/Inequality_WIID.pickle')
Inequality_WDI = pd.read_pickle('../data/processed/Inequality_WDI.pickle')
General_WDI = pd.read_pickle('../data/processed/General_WDI.pickle')
Economic_WDI = pd.read_pickle('../data/processed/Economic_WDI.pickle')
Economic_MADDISON = pd.read_pickle('../data/processed/Economic_MADDISON.pickle')
Education_WDI = pd.read_pickle('../data/processed/Education_WDI.pickle')
Labor_WDI = pd.read_pickle('../data/processed/Labor_WDI.pickle')
Urbanization_UNPD = pd.read_pickle('../data/processed/Urbanization_UNPD.pickle')

## Join By Subject

### Inequality

In [3]:
Inequality = Tourism.join(Inequality_WDI).join(Inequality_WIID)

In [4]:
Inequality.sample(5)

,,ST.INT.ARVL,ST.INT.XPND.MP.ZS,ST.INT.XPND.CD,ST.INT.DPRT,ST.INT.RCPT.XP.ZS,ST.INT.RCPT.CD,Tourist Defecit,Tourism Net,Tourist Avg Net,Population Estimate,ST.INT.ARVL.PER.CAPITA,ST.INT.DPRT.PER.CAPITA,SI.POV.GINI,SI.POV.RUGP,SI.POV.URGP,SI.POV.NAGP,SI.DST.10TH.10,SI.DST.FRST.10,id,gini_reported,q1,q2,q3,q4,q5,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,bottom5,top5,mean,median,exchangerate,mean_usd,median_usd,gdp_ppp_pc_usd2011,population,quality_score
Country Code,Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
CYM,1996,373000.000,nan,nan,nan,nan,368000000.000,nan,nan,986.595,33536.000,11.122,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
CAN,2012,16344000.000,7.326,43010000000.000,32276000.000,3.755,20696000000.000,-15932000.000,-22314000000.000,1266.275,34900705.000,0.468,0.925,nan,nan,nan,nan,nan,nan,1726.500,36.767,5.333,11.533,17.233,23.800,41.967,1.700,3.633,5.067,6.467,7.900,9.333,10.933,12.867,15.700,26.267,nan,nan,51017.250,44313.750,0.999,nan,nan,41615.000,34900705.000,11.333
MLT,2013,1582000.000,2.511,384000000.000,363000.000,8.798,1402000000.000,1219000.000,1018000000.000,886.220,423246.000,3.738,0.858,28.800,nan,nan,nan,23.100,3.500,6635.500,28.370,8.765,13.555,17.770,22.680,37.225,3.595,5.170,6.250,7.305,8.335,9.385,10.570,12.060,14.510,22.715,1.500,13.600,14003.820,12434.220,0.753,14568.000,12775.000,30243.000,423246.000,12.000
ARE,2007,nan,nan,11273000000.000,nan,nan,6072000000.000,nan,-5201000000.000,nan,6044067.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
LCA,1999,264000.000,7.217,33000000.000,nan,71.149,263000000.000,nan,230000000.000,996.212,155172.000,1.701,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

### General

In [5]:
General = Tourism.join(General_WDI)

In [6]:
General.sample(5)

,,ST.INT.ARVL,ST.INT.XPND.MP.ZS,ST.INT.XPND.CD,ST.INT.DPRT,ST.INT.RCPT.XP.ZS,ST.INT.RCPT.CD,Tourist Defecit,Tourism Net,Tourist Avg Net,Population Estimate,ST.INT.ARVL.PER.CAPITA,ST.INT.DPRT.PER.CAPITA,SP.DYN.LE00.IN,EG.ELC.ACCS.ZS,SH.STA.HYGN.ZS,SH.H2O.SMDW.ZS,SH.H2O.BASW.ZS,EN.ATM.CO2E.PC,EN.CO2.TRAN.ZS,ER.LND.PTLD.ZS,DT.DOD.PVLX.GN.ZS,FB.ATM.TOTL.P5,FB.CBK.BRCH.P5,FB.CBK.DPTR.P3,FB.CBK.BRWR.P3,SG.VAW.1549.ZS,SG.DMK.ALLD.FN.ZS,SG.DMK.SRCR.FN.ZS,SH.STA.SUIC.P5,SH.STA.WASH.P5,SP.DYN.IMRT.IN,SH.STA.BRTW.ZS,SH.ANM.CHLD.ZS,SH.STA.ANVC.ZS,SH.STA.FGMS.ZS,SH.PRV.SMOK,SH.ALC.PCAP.LI,IT.NET.BBND.P2,IT.NET.USER.ZS,IT.CEL.SETS.P2,SM.POP.REFG.OR,per_si_allsi.cov_pop_tot,VC.IHR.PSRC.P5,MS.MIL.TOTL.TF.ZS,HD.HCI.OVRL
Country Code,Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
BWA,2009,1721000.000,4.271,232400000.000,nan,15.883,663600000.000,nan,431200000.000,385.590,1979882.000,0.869,nan,58.450,45.679,nan,nan,78.419,1.900,39.066,nan,nan,27.431,8.487,488.682,234.896,nan,nan,nan,nan,nan,40.300,nan,42.100,nan,nan,nan,nan,0.505,6.150,94.657,30.000,nan,14.597,1.259,nan
SUR,2015,228000.000,4.773,128000000.000,nan,5.371,99000000.000,nan,-29000000.000,434.211,553208.000,0.412,nan,71.279,87.745,nan,nan,94.681,nan,nan,nan,nan,47.011,10.887,1079.836,186.647,nan,nan,nan,23.800,nan,18.700,nan,34.300,nan,nan,26.200,nan,9.525,42.764,135.656,19.000,nan,nan,0.923,nan
GEO,2007,1052000.000,4.712,277000000.000,1473000.000,13.912,440000000.000,-421000.000,163000000.000,418.251,4390535.000,0.240,0.335,72.704,99.155,nan,75.618,90.692,1.663,37.982,nan,nan,25.201,16.168,470.061,116.542,nan,nan,nan,nan,nan,18.600,nan,25.000,nan,nan,nan,nan,1.064,8.260,59.212,11810.000,nan,7.516,1.656,nan
SUR,2009,151000.000,2.088,35000000.000,nan,4.146,70000000.000,nan,35000000.000,463.576,520619.000,0.290,nan,70.057,91.263,67.841,nan,93.247,3.846,40.845,nan,nan,34.424,10.571,nan,nan,nan,nan,nan,nan,nan,22.500,nan,36.300,nan,nan,nan,nan,1.742,31.360,146.731,45.000,nan,nan,0.963,nan
CHE,2000,7821000.000,5.901,7360000000.000,12240000.000,6.391,8988000000.000,-4419000.000,1628000000.000,1149.214,7167250.000,1.091,1.708,79.680,100.000,nan,92.824,100.000,5.435,39.461,nan,nan,nan,nan,nan,nan,nan,nan,nan,21.800,nan,4.700,nan,11.100,nan,nan,31.200,nan,0.787,47.100,64.718,70.000,nan,0.963,0.693,nan

### Economic

In [7]:
Economic = Tourism.join(Economic_MADDISON).join(Economic_WDI)

In [8]:
Economic.sample(5)

,,ST.INT.ARVL,ST.INT.XPND.MP.ZS,ST.INT.XPND.CD,ST.INT.DPRT,ST.INT.RCPT.XP.ZS,ST.INT.RCPT.CD,Tourist Defecit,Tourism Net,Tourist Avg Net,Population Estimate,ST.INT.ARVL.PER.CAPITA,ST.INT.DPRT.PER.CAPITA,Maddison GDPPC,DT.DOD.DIMF.CD,DT.DOD.PVLX.CD,NY.GNP.PCAP.CD,NY.GNP.ATLS.CD,DT.DIS.IDAG.CD,DT.ODA.ODAT.CD,SI.POV.NAHC,SI.POV.URHC,SI.POV.RUHC,SI.POV.NAGP,SI.POV.GINI
Country Code,Year,,,,,,,,,,,,,,,,,,,,,,,,
NOR,2011,4963000.000,12.220,16958000000.000,8130000.000,3.191,6565000000.000,-3167000.000,-10393000000.000,1322.789,4947595.000,1.003,1.643,80623.000,nan,nan,90280.000,447159839022.191,nan,nan,nan,nan,nan,nan,25.300
GUM,2016,1536000.000,nan,nan,nan,nan,nan,nan,nan,nan,162896.000,9.429,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
LBN,2013,1274000.000,14.083,4692000000.000,nan,35.204,7032000000.000,nan,2340000000.000,5519.623,5276102.000,0.241,nan,14627.000,297661889.100,nan,8500.000,44863037584.768,0.000,621600000.000,nan,nan,nan,nan,nan
KAZ,2006,4707000.000,3.224,1060000000.000,3615000.000,2.348,973000000.000,1092000.000,-87000000.000,206.713,15690861.000,0.300,0.230,12372.000,516992432.200,nan,3860.000,59055269125.170,0.000,177780000.000,18.200,13.600,24.400,3.900,30.200
UKR,2016,13333000.000,12.020,6306000000.000,24668000.000,3.745,1723000000.000,-11335000.000,-4583000000.000,129.228,44438625.000,0.300,0.555,9694.000,13075387798.600,0.000,2310.000,98744518111.730,0.000,1523320000.000,3.800,nan,nan,nan,25.000

### Education

In [9]:
Education = Tourism.join(Education_WDI)

In [10]:
Education.sample(5)

,,ST.INT.ARVL,ST.INT.XPND.MP.ZS,ST.INT.XPND.CD,ST.INT.DPRT,ST.INT.RCPT.XP.ZS,ST.INT.RCPT.CD,Tourist Defecit,Tourism Net,Tourist Avg Net,Population Estimate,ST.INT.ARVL.PER.CAPITA,ST.INT.DPRT.PER.CAPITA,SE.ENR.PRSC.FM.ZS,SE.ADT.LITR.ZS,SE.COM.DURS,SE.PRM.UNER.ZS,SE.PRM.ENRL.TC.ZS,SE.SEC.ENRL.TC.ZS,SE.SEC.NENR
Country Code,Year,,,,,,,,,,,,,,,,,,,
AGO,2004,194000.000,0.809,86000000.000,nan,0.594,82000000.000,nan,-4000000.000,422.680,18865716.000,0.010,nan,nan,nan,4.000,nan,nan,nan,nan
TJK,2011,183000.000,0.760,31400000.000,nan,17.161,184100000.000,nan,152700000.000,1006.011,7815949.000,0.023,nan,0.915,nan,9.000,1.824,23.275,15.439,82.603
CYM,2013,345000.000,nan,183000000.000,nan,nan,598000000.000,nan,415000000.000,1733.333,58371.000,5.910,nan,nan,nan,12.000,nan,13.036,nan,nan
MKD,1996,136000.000,1.981,30000000.000,nan,3.356,35000000.000,nan,5000000.000,257.353,nan,nan,nan,0.982,nan,nan,nan,nan,nan,nan
GNB,2013,35500.000,10.072,27200000.000,nan,9.113,17400000.000,nan,-9800000.000,490.141,1681495.000,0.021,nan,nan,nan,9.000,nan,nan,nan,nan

### Labor

In [11]:
Labor = Tourism.join(Labor_WDI)

In [12]:
Labor.sample(5)

,,ST.INT.ARVL,ST.INT.XPND.MP.ZS,ST.INT.XPND.CD,ST.INT.DPRT,ST.INT.RCPT.XP.ZS,ST.INT.RCPT.CD,Tourist Defecit,Tourism Net,Tourist Avg Net,Population Estimate,ST.INT.ARVL.PER.CAPITA,ST.INT.DPRT.PER.CAPITA,SL.TLF.ACTI.1524.FE.ZS,SL.TLF.CACT.ZS,SL.TLF.CACT.FM.ZS,SL.TLF.0714.SW.TM,SL.TLF.0714.WK.TM,SL.EMP.MPYR.ZS,SL.AGR.EMPL.ZS,SL.IND.EMPL.ZS,SL.SRV.EMPL.ZS,SL.ISV.IFRM.ZS,SL.UEM.TOTL.ZS,SL.EMP.SELF.ZS,per_lm_alllm.cov_pop_tot
Country Code,Year,,,,,,,,,,,,,,,,,,,,,,,,,
VGB,2012,351000.000,nan,nan,139000.000,nan,398000000.000,212000.000,nan,1133.903,28509.000,12.312,4.876,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
ESP,2012,57464000.000,3.947,15401000000.000,12422000.000,14.101,57877000000.000,45042000.000,42476000000.000,1007.187,46857404.000,1.226,0.265,37.148,59.256,79.578,nan,nan,5.190,4.216,20.672,75.112,nan,24.787,17.305,nan
TGO,2011,300000.000,3.249,81000000.000,nan,12.385,209000000.000,nan,128000000.000,696.667,6679282.000,0.045,nan,64.293,77.946,94.923,nan,nan,1.507,37.108,18.490,44.401,nan,1.863,80.226,nan
KNA,2002,69000.000,3.122,8000000.000,nan,37.181,57000000.000,nan,49000000.000,826.087,46641.000,1.479,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
DNK,2010,9425000.000,6.470,9082000000.000,7726000.000,3.506,5704000000.000,1699000.000,-3378000000.000,605.199,5554844.000,1.697,1.391,67.346,64.367,86.577,nan,nan,3.622,2.421,19.609,77.971,nan,7.464,9.104,nan

### Urbanization

In [13]:
Urbanization = Tourism.join(Urbanization_UNPD)

In [14]:
Urbanization.sample(5)

,,ST.INT.ARVL,ST.INT.XPND.MP.ZS,ST.INT.XPND.CD,ST.INT.DPRT,ST.INT.RCPT.XP.ZS,ST.INT.RCPT.CD,Tourist Defecit,Tourism Net,Tourist Avg Net,Population Estimate,ST.INT.ARVL.PER.CAPITA,ST.INT.DPRT.PER.CAPITA,SP.URB.TOTL.IN.ZS,SP.URB.GROW,EN.POP.SLUM.UR.ZS,EN.URB.MCTY.TL.ZS,EN.URB.LCTY.UR.ZS
Country Code,Year,,,,,,,,,,,,,,,,,
VNM,2006,3583000.000,2.201,1050000000.000,nan,6.344,2850000000.000,nan,1800000000.000,795.423,85094617.000,0.042,nan,27.888,3.128,nan,11.497,22.732
LSO,1999,308000.000,1.532,17000000.000,nan,10.164,23100000.000,nan,6100000.000,75.000,1850527.000,0.166,nan,19.038,3.706,nan,nan,nan
LAO,2002,215000.000,0.904,4300000.000,nan,23.071,110000000.000,nan,105700000.000,511.628,5497273.000,0.039,nan,24.044,5.985,nan,nan,37.289
PAN,2004,621000.000,3.255,294000000.000,256000.000,10.225,903000000.000,365000.000,609000000.000,1454.106,3269541.000,0.190,0.078,63.387,2.332,nan,40.488,63.874
TUV,2003,1400.000,nan,nan,2600.000,nan,nan,-1200.000,nan,nan,9767.000,0.143,0.266,47.656,3.098,nan,nan,nan

## Full Dataset Join

In [15]:
Full = Tourism.join([
    Inequality_WIID,
    Inequality_WDI,
    General_WDI,
    Economic_MADDISON,
    Education_WDI,
    Labor_WDI,
    Urbanization_UNPD],how="left").join(Economic_WDI.drop(['SI.POV.GINI', 'SI.POV.NAGP'],axis='columns'))

## Save Files

In [16]:
General.to_csv("../data/processed/General.csv")
Labor.to_csv("../data/processed/Labor.csv")
Urbanization.to_csv("../data/processed/Urbanization.csv")
Education.to_csv("../data/processed/Education.csv")
Inequality.to_csv("../data/processed/Inequality.csv")
Economic.to_csv("../data/processed/Economic.csv")
Full.to_csv("../data/processed/Full.csv")